.terminal-input-label, .terminal-output-label {
  dominant-baseline: middle;
  fill: white;
  pointer-events: none;
}

.terminal-output-label {
  text-anchor: end;
}

.terminal-level {
  stroke: none;
  fill: hsl(120, 70%, 50%);
}

.terminal-frequency {
  stroke: none;
  fill: hsl(220, 80%, 60%);
}

.terminal-outline {
  stroke: none;
  fill: #000;
}


@media (prefers-color-scheme: light) {
  .terminal-input-label, .terminal-output-label {
    fill: black;
  }

  .terminal-level {
    fill: #248311;
  } 
  .terminal-frequency {
    fill: #008351;
  } 
}