.peakMeter-text {
  font-size: 0.8rem;
  fill: hsla(0, 10%, 100%, 0.7);
  text-anchor: end;
}
.peakMeter-text.clipped {
  fill: hsla(0, 50%, 50%, 1);
}
.peakMeter-text.warn {
  fill: hsla(60, 40%, 50%, 0.8);
}

@media (prefers-color-scheme: light) {
  .peakMeter-text {
    fill: hsla(0, 10%, 0%, 0.8);
  }
  .peakMeter-text.clipped {
    fill: hsla(0, 50%, 40%, 0.9);
  }
  .peakMeter-text.warn {
    fill: hsla(60, 40%, 40%, 0.8);
  }
  
}