.terminal-input-label, .terminal-output-label {
  dominant-baseline: middle;
  fill: white;
  pointer-events: none;
}

.terminal-output-label {
  text-anchor: end;
}
.terminal {
  stroke: none;
  pointer-events: none;
}

.terminal.level {
  fill: hsl(120, 70%, 50%);
}

.terminal.frequency {
  fill: hsl(220, 80%, 60%);
}

.terminal.enum {
  fill: hsl(220, 80%, 60%);
}

.terminal.time-span {
  fill: hsl(220, 80%, 60%);
}

.terminal.decay-rate {
  fill: hsl(300, 100%, 40%);
}

.terminal.trigger {
  fill: hsl(0, 80%, 60%);
}

.terminal.outline, .terminal.outline:hover {
  pointer-events: none;
  fill: #000;
}

.terminal-group:hover .drag-zone {
  fill: #efe;
}

.drag-zone {
  fill: none; /* hsla(220, 80%, 60%, 0.2); */
  stroke: none; /* hsla(220, 80%, 60%, 0.5); */
  pointer-events: all;
}

@media (prefers-color-scheme: light) {
  .terminal-input-label, .terminal-output-label {
    fill: black;
  }

  .terminal.level {
    fill: #248311;
  } 

  .terminal.frequency {
    fill: #008351;
  } 

  .terminal.enum {
    fill: hsl(220, 80%, 40%);
  }
  
  .terminal.time-span {
    fill: hsl(220, 80%, 40%);
  }
  
  .terminal.trigger {
    fill: hsl(0, 80%, 40%);
  }
  
  .terminal.outline, .terminal.outline:hover {
    fill: #fff;
  }
  .terminal:hover {
    fill: #000;
  }
  .terminal-group:hover .drag-zone {
    fill: #030;
  }
  
 
}