.SynthNodeTitle {
  fill: hsl(45, 100%, 50%);
  cursor: pointer;
  pointer-events: none;
  user-select: none;  
} 

@media (prefers-color-scheme: light) {
  .SynthNodeTitle {
    fill: hsl(45, 100%, 12%);
    font-weight: 600;
  }
}