.SynthNodeBox {
  stroke-width: 1px;
  stroke: #505050;
  fill: hsla(0, 0%, 15%, 0.97);
  cursor: default;
} 
.SynthNodeBox.selected {
  stroke-width: 2px;
  stroke: hsla(0, 0%, 50%, 0.97);
  fill: #303030;
  filter: drop-shadow(0px 0.2rem 0.3rem hsla(0,0%,0%,0.8));
} 

.SynthNodeBox.highlighted {
  fill: hsla(0, 0%, 25%, 0.94);
  stroke: hsl(0, 0%, 80%);
}


@media (prefers-color-scheme: light) {

  .SynthNodeBox {
    stroke: #c0c0c0;
    fill: #f0f0f0;
  }

  .SynthNodeBox.selected {
    stroke: #a0a0a0;
    fill: #e0e0e0;
    filter: drop-shadow(0px 0.35rem 0.4rem hsla(0,0%,0%,0.15));
  } 

  .SynthNodeBox.highlighted {
    fill: hsl(0, 0%, 80%);
    stroke: hsl(0, 0%, 20%);
  }
    
}