.Footer {
  color: hsl(0, 10%, 80%);
  height: 2rem;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: row;
}

.Footer a {
  border-bottom: 1px solid hsl(30,50%,50%);
}

@media (prefers-color-scheme: light) {
  .Footer {
    color: hsl(0, 10%, 10%);
    background-color: hsl(0, 0%, 85%);
  }
}