.Header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.15rem 0.6rem 0.15rem 1.0rem;
  background-color: hsl(0, 0%, 18%);
}

.Header.minor {
  background-color: hsl(0, 0%, 12%);
  padding-top: 0.2rem;
}

.Header.vertical {
  flex-direction: column;
}

.Header.property-sheet {
  padding: 0.15rem 0.6rem 0rem 0.6rem;
  background-color: hsl(0, 0%, 14%);
}

.Header.property-sheet-subheading {
  background-color: inherit;
  padding: 0.15rem 0.6rem 0rem 0.6rem;
  height: 2rem;
}

.Header .title {
  font-size: 1.2rem;
}

@media (prefers-color-scheme: light) {
  .Header {
    background-color: hsl(0, 0%, 70%);
  }

  .Header .title {
    color: hsl(30,10%,0%);
    font-weight: 600;
  }

  .Header.property-sheet {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 0%);
  }

  .Header.property-sheet-subheading {
    font-weight: 400;
  }
  
}