.SynthGraphProperties {
  flex-basis: 18rem;
  overflow: auto;
  background-color: hsl(240, 15%, 10%);
  border-left: black 2px solid;
}

.SynthGraphProperties .group-title {
  font-weight: 700;
}

.SynthGraphProperties .parameters {
  display: flex;
  flex-direction: column;
}

.SynthGraphProperties .parameter-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.2rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  .SynthGraphProperties {
    background-color: #f0f0f8;
  }
}