.terminal-input-label, .terminal-output-label {
  dominant-baseline: middle;
  fill: white;
  pointer-events: none;
}

.terminal-output-label {
  text-anchor: end;
}

.terminal-level {
  stroke: none;
  fill: #3FFF20;
  cursor: pointer;
}

.terminal-frequency {
  stroke: none;
  fill: #4080FF;
  cursor: pointer;
} 

@media (prefers-color-scheme: light) {
  .terminal-input-label, .terminal-output-label {
    fill: black;
  }

  .terminal-level {
    fill: #248311;
  } 
  .terminal-frequency {
    fill: #008351;
  } 
}