.SynthNodeProperties {
  flex-basis: 18rem;
  overflow: auto;
  background-color: #202020;
}

.SynthNodeProperties .parameters {
  display: flex;
  flex-direction: column;
}

.SynthNodeProperties .parameter-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.2rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  .SynthNodeProperties {
    background-color: #e0e0e0;
  }
}