.SynthNodeBox {
  stroke-width: 2px;
  stroke: #505050;
  fill: #000;
} 
.SynthNodeTitle {
  fill: #fc0;
} 

@media (prefers-color-scheme: light) {
  .SynthNodeBox {
    stroke: "2px #c0c0c0 solid";
    fill: #fff;
  }
}