.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.button-bar {
  display: flex;
  gap: 0.4rem;
  padding: 0.2rem;
  align-items: baseline;
}

.button-bar select {
  padding: 0.5rem 0.5rem;
}