:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0,0%,90%);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

select, input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: hsl(30,80%,70%);
  text-decoration: inherit;
}
a:hover {
  color: hsl(30,80%,90%);
}

.explained {
  border-bottom: 1px dotted hsl(30,80%,70%);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.3em;
  line-height: 1.1;
}

select {
  font-size: 1em;
  height: 2.66rem;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 30%);
}
select:hover {
  border: 1px solid hsl(30, 40%, 90%);
}

input[type="file"] {
  text-align: center;
}
.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0rem;
  cursor: pointer;
}

.Header .button-bar-compact {
  display: flex;
  gap: 0.4rem;
  padding: 0.2rem 0.1rem 0.2rem 1rem;
  align-items: baseline;
}
.Header .button-bar-compact button,
.button-bar-compact button,
.custom-file-upload {
  padding: 0.2em 1em 0.3em 1em;
}

.button-bar-compact {
  display: flex;
  flex-flow: row wrap;
  gap: 0.4rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  align-items: baseline;
}

.expander {
  float: right;
  padding: 0rem 0.5rem 0.1rem 0.5rem;
  margin-top: 0.1rem;
  width: 2rem;
}

.button-bar {
  display: flex;
  gap: 0.4rem;
  padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  align-items: baseline;
}

.button-separator {
  display: block;
  margin: 0 0.4rem 0 0;
}

button {
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 30%);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}
button:hover:not(:disabled) {
  border-color: hsl(30, 40%, 90%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  opacity: 0.7;
}


button.icon {
  padding: 0.2rem 0.5rem;
  height: 2.65rem;
  top: 0.2rem;
  position: relative;
}

.icon.filled {
  fill: hsla(0, 0%, 100%, 0.8);
  stroke: none;
}

.icon.line {
  stroke: hsla(0, 0%, 100%, 0.8);
  stroke-width: 0.15;
  fill: none;
}

.text-as-icon {
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 700;
}

.link-cursor {
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {

  select option {
    color: hsl(0,0%,90%);
  }
  select option:checked {
    background-color: hsl(30,100%,30%);
  }
  select option:disabled {
    color: hsl(0,0%,80%);
    background-color: hsl(0,0%,15%);
    filter: blur(0.7px);
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(0,0%,15%);
    background-color: #ffffff;
  }

  a {
    font-weight: 500;
    color: hsl(30,100%,20%);
    text-decoration: inherit;
  }
  a:hover {
    color: hsl(30,100%,0%);
  }

  button {
    background-color: hsl(240, 10%, 100%);
    border: 1px solid hsl(240, 20%, 20%);
  }
  .icon.filled {
    fill: hsla(0, 0%, 0%, 0.8);
  }

  .icon.line {
    stroke: hsla(0, 0%, 0%, 0.8);
  }
  
  select {
    background-color: hsl(240, 0%, 100%);
    border: 1px solid hsl(240, 20%, 20%);
  }
  
  .text-as-icon {
    color: hsl(0, 0%, 0%, 0.9);
  }
  
  .custom-file-upload {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 0%);
  }
  
    
}
