.SynthNodeProperties {
  border-left: black 2px solid;
}

.SynthNodeProperties .parameters {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem;
}

.SynthNodeProperties .node-title {
  color: hsl(45, 100%, 50%);
}

.SynthNodeProperties .parameter-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.2rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  .SynthNodeProperties {
    background-color: hsl(240, 2%, 90%);
    border-color: hsl(240, 2%, 100%);
  }

  .SynthNodeProperties .node-title {
    font-weight: 400;
    color: hsl(240, 15%, 0%);
  }
 
}