.SynthGraphNodeList {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem 0.3rem 0.6rem;
}

.SynthGraphNodeList .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.8rem 0.3rem 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  /* border-radius: 0.5rem; */
  cursor: default;
}

.SynthGraphNodeList .item .iconGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.SynthGraphNodeList .item .invisible {
  visibility: hidden;
}

.iconGroup button {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
}

.grab-handle-icon {
  stroke: hsla(0, 0%, 100%, 0.25);
  stroke-width: 0.1;
  stroke-dasharray: 0.1 0.3;
}

@media (prefers-color-scheme: light) {
  .SynthGraphNodeList .item{
    margin-bottom: 0.2rem;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    background-color: hsla(0, 0%, 0%, 0.05);
  }

  .grab-handle-icon {
    fill: hsla(0, 0%, 0%, 0.2);
  }
}