.SynthGraphProperties {
  flex-basis: 18rem;
  overflow: auto;
  background-color: hsl(240, 15%, 10%);
  border-left: black 2px solid;
}

.SynthGraphProperties .group-title {
  font-weight: 700;
}

.SynthGraphProperties .parameters {
  display: flex;
  flex-direction: column;
}

.SynthGraphProperties .parameter-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.2rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  .SynthGraphProperties {
    background-color: hsl(240, 2%, 90%);
    border-color: hsl(240, 2%, 100%);
  }
  
  .SynthGraphProperties .group-title {
    font-weight: 400;
    color: hsl(240, 15%, 0%);
  }
  
}