.SynthGraphNodeList {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem 0.3rem 0.6rem;
}

.SynthGraphNodeList .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.1rem;
  padding: 0.1rem 0.8rem 0.2rem 0.8rem;
  color: hsl(45, 100%, 60%);
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.5rem;
  cursor: default;
}

.SynthGraphNodeList .item .iconGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0.1rem;
  gap: 0.5rem;
}

.SynthGraphNodeList .item button.invisible {
  visibility: hidden;
}

.SynthGraphNodeList .item.highlighted {
  background-color: hsla(0, 0%, 100%, 0.2);
  border-color: hsla(0, 0%, 100%, 0.3);
}

.iconGroup button {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
}

.grab-handle-icon {
  stroke: hsla(0, 0%, 100%, 0.25);
  stroke-width: 0.1;
  stroke-dasharray: 0.1 0.3;
}

@media (prefers-color-scheme: light) {
  .SynthGraphNodeList .item {
    background-color: hsl(0, 0%, 95%);
    font-weight: 600;
    color: hsl(45, 100%, 15%);
  }

  .SynthGraphNodeList .item.highlighted {
    background-color: hsl(0, 0%, 0%, 0.2);
    border-color: hsla(0, 0%, 0%, 0.8);
  }
  .grab-handle-icon {
    fill: hsla(0, 0%, 0%, 0.2);
  }

  
}