.SynthNodeProperties .parameters {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem;
  border-left: black 2px solid;
}

.SynthNodeProperties .node-title {
  color: #fc0;
}

.SynthNodeProperties .parameter-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.2rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  .SynthNodeProperties .node-title {
    color: #640;
  }
 
}