html {
  --hue: 120;
}

.axis {
  stroke: hsla(var(--hue), 100%, 70%, 0.3);
  stroke-width: 0.5px;
  fill: none;
}
.wf {
  stroke: hsla(var(--hue), 100%, 90%, 0.5);
  stroke-width: 0.5px;
  fill: none;
}

@media (prefers-color-scheme: light) {
  .axis {
    stroke: hsla(var(--hue), 40%, 0%, 0.2);
  }
  .wf {
    stroke: hsla(var(--hue), 100%, 20%, 0.8);
  }
}