.axis {
  stroke: hsla(30, 100%, 70%, 0.3);
  stroke-width: 0.5px;
  fill: none;
}
.wf {
  stroke: hsla(30, 100%, 90%, 0.8);
  stroke-width: 0.5px;
  fill: none;
}

@media (prefers-color-scheme: light) {
  .axis {
    stroke: hsla(30, 40%, 50%, 0.05);
  }
  .wf {
    stroke: hsla(30, 100%, 20%, 0.8);
  }
}