html {
  --axis-hue: 120;
}

.ws .frame {
  stroke: hsla(var(--axis-hue), 100%, 70%, 0.8);
  stroke-width: 1px;
  fill: none;
}
.ws .function-path {
  stroke: hsl(var(--axis-hue), 90%, 90%);
  stroke-width: 1.5px;
  fill: none;
}

.ws .dim {
  stroke: hsla(var(--axis-hue), 100%, 70%, 0.8);
  stroke-width: 1px;
  fill: none;
}

.ws .axis {
  stroke: hsla(var(--axis-hue), 100%, 70%, 0.4);
  stroke-width: 1px;
  fill: none;
}

.ws .flow {
  stroke: hsl(var(--axis-hue), 10%, 80%);
  stroke-width: 1px;
  fill: none;
}

.ws .dot {
  fill: hsl(var(--axis-hue), 10%, 100%);
  stroke: none;
}

.ws .dot.soft {
  fill: hsl(var(--axis-hue), 10%, 0%);
  stroke-width: 1px;
  stroke: hsl(var(--axis-hue), 10%, 100%);
}

.ws .dim-text {
  fill: hsl(var(--axis-hue), 10%, 80%);
  text-anchor: middle;
}
.ws .dim-text.signal {
  fill: hsl(var(--axis-hue), 10%, 60%);
}
.ws .dim-text.v {
  text-anchor: end;
  dominant-baseline: middle;
}
.ws .dim-text.v.after {
  text-anchor: start;
}
.ws .dim-text.h-under {
  dominant-baseline: hanging;
}
.ws .dim-text.h-over {
  dominant-baseline: auto;
}

.ws .scaler {
  fill: hsla(var(--axis-hue), 40%, 50%, 0.25);
  stroke: none;
}
.ws .scaler-edge {
  fill: none;
  stroke: hsla(var(--axis-hue), 100%, 70%, 0.8);
  stroke-width: 1px;
  stroke-dasharray: 3 3;
}

.wf {
  stroke: hsla(var(--hue), 100%, 85%, 0.5);
  stroke-width: 1px;
  fill: none;
}
.wf.highlight {
  stroke: hsl(var(--hue), 100%, 95%);
}

@media (prefers-color-scheme: light) {
  .ws .frame {
    stroke: hsl(var(--axis-hue), 30%, 60%);
  }
  
  .ws .dim {
    stroke: hsl(var(--axis-hue), 50%, 30%);
  }
  
  .ws .axis {
    stroke: hsl(var(--axis-hue), 50%, 40%);
  }
  
  .ws .flow {
    stroke: hsl(var(--axis-hue), 10%, 20%);
  }
  
  .ws .dot {
    fill: hsl(var(--axis-hue), 10%, 0%);
  }
  
  .ws .dim-text {
    fill: hsl(var(--axis-hue), 10%, 0%)
  }

  .ws .scaler {
    fill: hsla(var(--axis-hue), 40%, 70%, 0.3);
  }
  .ws .scaler-edge {
    stroke: hsla(var(--axis-hue), 50%, 30%);
  }
  

  .wf {
    stroke: hsla(var(--hue), 100%, 20%, 0.8);
  }
}